<template>
  <div class="send-a-message">
    <div class="form-container">
          <form>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="textarea" placeholder="Hello Rudi....">
          </form>

    </div>

  </div>
</template>
<script>
export default {
  name: 'componentForm',

  data() {
    return {
      isActive: false
    }
  },

  methods: {
  },

  mounted() {
  }
}
</script>
<style>
.send-a-message {
  flex: 1 1 0%;
  transition: flex-basis 500ms ease-in-out;
  background-color: gray;
  transition: flex-basis 500ms ease-in-out;
}
.form .send-a-message{
  display: block;
  flex-basis: 20%;
}
.form-container {
  padding: 100px 20px;
}
form {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form > * {
  flex: 1 1 20px;
}
input {
  color: white;
  background-color: #1f1f1f;
}
input[type="textarea"] {
  flex-grow: 3;
}
</style>