<template>
  <div class="landing-page" :class="{inactive : !isActive}">
    <div>
     <h1>I'm, <a @click.prevent="showNav">RudiRok</a></h1>
    </div>
    <div v-if="isActive">
      <img src="https://dummyimage.com/1920x1200/3b3b3b/fff">
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      isActive: true
    }
  },
  methods: {
    showNav() {
      this.isActive =  false;
      eventHub.$emit('showNav');
    }
  },
  mounted() {
    
  }

}

</script>

<style>
.landing-page {
  width: 100%;
  height: 100%;
}
.landing-page.inactive {
  width: 0;
  height: 0;
}
h1 {
  color: #949494;
  position: fixed;
  top: 20px;
  right: 40px;
}
</style>
