<template>
  
  <transition name="bounce"> 
    <div class="navigation" :class="{'active' : isActive}">
     <div class="content">
   
        <p>
          I’m a <a  @click.prevent="playVideo('comedian')">standup comedian</a>. I  <a @click.prevent="playVideo('talk-to-dogs')">talk to dogs</a> and teach people to sound like<a @click.prevent="playVideo('motorcycle')"> motorcycles</a>. I’m 
          a <a style="color: LightSteelBlue;" @click.prevent="playVideo('voice-artist')">voice artist</a> <a @click.prevent="playVideo('ventro')">ventriloquist</a> magician. 
          Sometimes, all at once. I’m a <a v-scroll-to="'body'" @click.prevent="playVideo('break-dance')">break-dancing</a>, 
          beat-boxing keynote speaker. I’m <a v-scroll-to="'body'" @click.prevent="playVideo('santa-claus')">Santa 
          Claus</a>  and a <a v-scroll-to="'body'" @click.prevent="playVideo('sonicHero')">sonic superhero</a>. I’m your next 
          <a v-scroll-to="'body'" @click.prevent="playVideo('cello')">collaboration.</a> I’m your company’s sonic logo.I’m a Creative Director of a <a v-scroll-to="'body'" @click.prevent="playVideo('whatsnext')">what’s next company</a>. I’m a bundle of 
          nerves before every performance. I’m a 
          storyteller of sound, a cinematographer of future vision,a rollercoaster of emotions, <a  v-scroll-to="'body'" @click.prevent="playVideo('i-direct')">I direct</a> to break boundaries. <br>I’m 
          most comfortable outside my comfort zone. <br>
          Come meet me there. <br>
          We can make something like this. <br>
          Or do nothing like that. <br><br> <a @click.prevent="showForm">Shoot me a message</a> and let’s make something different! 
        </p>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data () {
    return {
      isActive: false
    }
  },
  methods: {
    playVideo (name) {
       eventHub.$emit('showcase', name);
    },
    showNav () {
      this.isActive = !this.isActive;
      if(!this.isActive) {
        eventHub.$emit('showcase', 'intro');
        eventHub.$emit('hideForm');
      }
    },
    showForm() {
      eventHub.$emit('showForm');
    },
  },
  mounted() {
    eventHub.$on('showNav', this.showNav);
  }

}
</script>
<style lang="scss">

.navigation {
  background-color: #040404;
  flex: 1 1 0%;
  transition: all 500ms ease-in-out;
  &.active {
    flex-basis: 50%;
  }
  @media only screen and (max-width: 768px) {
      width: 100%;
      top: 50%;
      overflow-y: auto;
  }
}

.content {
  margin-right: 3em;
  margin-left: 3em;
  margin-top: 75px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    opacity:1;
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
p {
  font-size: 2em;
  text-align: right;
  color: #949494;
  font-weight: 900;
}
a {
  color: white;
  cursor: pointer;
  }
</style>