<template>
  <div v-if="isActive" >
    <div class="showcase" @click.prevent="showModal"  >
       <div class="description">
        <slot></slot>
      </div>
    </div>
    <modal v-if="modalActive" @close="closeModal">
     <template slot="youtube"><slot name="youtube"></slot></template>
   </modal>
  </div>
</template>
<script>
import Modal from '@/components/Modal.vue'
export default {
  components: { Modal },
  name: 'showcase',
  props: {
    name: { required: true },
    selected: { default: false },
    picture: { default: false }
  },
  data () {
    return {
      isActive: false,
      modalActive: false
    }
  },
  methods: {
    showModal() {
      if(this.$slots.youtube) {
        this.modalActive = true
      }
     
    },
    closeModal() {
       this.modalActive = false;
    }
  },
  created () {
  },
  mounted() {
    this.isActive = this.selected;
  }
}
</script>
<style scoped>
.showcase {
  cursor: pointer;
}
.description {

}
.description > div {
  
}

iframe {
  display:block;
}

#landing {
  background-image: url("https://dummyimage.com/2200x1200/878787/fff");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
</style>