<template>
  <div class="showcases">
    <div>
      <slot></slot>
    </div>

  </div>
</template>
<script>

export default {
  props: {

  },
  data () {
    return {
      tabs: [],
    };
  },
  methods: {
    showCase(selected) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selected)
      });
    }
  },
  created() {
    this.tabs = this.$children;
    
  },
  mounted() {
    eventHub.$on('showcase', this.showCase);
    this.isActive = this.selected;
  }
}
</script>
<style lang="scss">
.showcases {
  background-color: black;
  color: white;
  width: 100%; 
  @media (max-width: 768px) {
    width: 100%;
    transition: width .7s;
  }
}
.landing-page .showcases {
  width: 100%;
}


</style>