<template>
  <div id="app">
          <h1 class="title">I'm, <a @click.prevent="showNav">Rudi Rok</a></h1>
  <div class="wrapper" :class="{'form': isFormActive}">

      <div class="container" :class="{'landing-page' : isActive}">
        <showcases>
          <showcase name="intro" :selected="true" id="landing">
            <video-bg :sources="['static/assets/intro-main.mp4']">
            </video-bg>
          </showcase>
          <showcase name="animal">
            <youtube  :player-vars="{ autoplay: 0, controls: 0 }" :video-id="videoId"></youtube>
          </showcase>
          <showcase name="ventro">
            <video-bg :sources="['static/assets/ventro.mp4']">
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="videoId2" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="cello">
            <video-bg :sources="['static/assets/cello.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytCollab" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="sonicHero">
            <video-bg :sources="['static/assets/sonicsuperhero.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytVolume" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="motorcycle">
            <video-bg :sources="['static/assets/motorcycle.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>
            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytCycle" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="break-dance">
            <video-bg :sources="['static/assets/break-dancing.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>
            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytBreakDance" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="santa-claus">
            <video-bg :sources="['static/assets/santaclaus.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>
             <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytSanta" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
        <showcase name="comedian">
            <video-bg :sources="['static/assets/comedian.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>
             <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytStandup" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
        <showcase name="whatsnext">
            <video-bg :sources="['static/assets/company.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
              <a @click="externalUrl('helsinking')" href="https://helsinking.com/" target="_blank">Go here </a>
            </video-bg>
            
          </showcase>
        <showcase name="i-direct">
            <video-bg :sources="['static/assets/idirect.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytDirect" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="voice-artist">
            <video-bg :sources="['static/assets/voice-artist.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytVoice" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
          <showcase name="talk-to-dogs">
            <video-bg :sources="['static/assets/dogs.mp4']">
              <!-- If you want to add content here, a slot is waiting! -->
            </video-bg>

            <template slot="youtube">
                <youtube :player-vars="{ autoplay: 1, controls: 0 }" :video-id="ytDog" :player-width="900" :player-height="506"></youtube>
            </template>
          </showcase>
        </showcases>

      </div>
      <navigation></navigation>
      <component-form></component-form>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
import Navigation from '@/components/Nav.vue'
import Showcases from '@/components/Showcases.vue'
import Showcase from '@/components/Showcase.vue'
import LandingPage from '@/components/Landing-page.vue'
import VideoBg from 'vue-videobg'
import componentForm from '@/components/component-form.vue'

export default {
  name: 'app',
  components: { Navigation, Showcases, Showcase, LandingPage, VideoBg, componentForm },
  data () {
    return {
      isActive: true,
      showPicture: false,
      isFormActive: false,
      videoId: '4EUobFfx-tU',
      videoId2: 'YyMiGx83TtI',
      ytVolume: 'NAemfiLZ-ZA',
      ytSanta: '8xxHO-vhDLU',
      ytCycle: 'vfa4yLPbyy8',
      ytCollab: 'bLM9PKRR6jQ',
      ytDirect: 'BRS8OZQSD3s',
      ytBreakDance: 'uBGnIUl1YwM',
      ytStandup: 'hOdVBPzWOLY',
      ytVoice: '4EUobFfx-tU',
      ytDog: 'naMgabL8u5U'

    }
  },
  methods: {

     showNav() {
      this.isActive = !this.isActive;
      eventHub.$emit('showNav');
    },

    externalUrl(place) {
      console.log('clicked');
      window.open(
          'https://helsinking.com/',
          '_blank' // <- This is what makes it open in a new window.
        );
    },
    showForm() {
      this.isFormActive = !this.isFormActive;
    },
    hideForm() {
       this.isFormActive = false;
    }

  },
  mounted() {

    eventHub.$on('showForm', this.showForm);
    eventHub.$on('hideForm', this.hideForm);
  }
}
</script>

<style>
* { box-sizing: border-box; }
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  background-color: black;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 200;
}
h1 {
  color: #949494;
  position: fixed;
  top: 20px;
  right: 3rem;
  z-index:2;
}
#app {
}

.wrapper {
  display:flex;
  overflow: hidden;
  flex-wrap: wrap;
  height: 100vh;
}
.container {
  flex: 1 1; 
  flex-basis: 50%;
    /* webkit */
  -webkit-animation-property: -webkit-width;
  -webkit-animation-property: -webkit-height;
  -webkit-transition-duration: 0.5s;
  /* firefox 4+ */
  -moz-animation-property: -webkit-width;
  -moz-animation-property: -webkit-height;
  -moz-transition-duration: 0.5s; 
  /* opera */
  -o-animation-property: -webkit-width;
  -o-animation-property: -webkit-height;
  -o-transition-duration: 0.5s;

  animation-property: -webkit-width;
  animation-property: -webkit-height;
  transition-duration: 0.5s;
  transition: all 500ms ease-in-out;
}

.container.landing-page {
   flex: 1 1 100%; 
  max-width: 100%;
}
.wrapper.form .container {
  flex-basis: 20%;
}
.VideoBg {
  background-color: black;
}
/*
.VideoBg:after{

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: 1px;
    opacity: 0.2;
    background-color: rgba(0,0,0,1);
    content: '';
    z-index: 1;
    transition: background-image 0.1s ease-in-out;
       background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2NkwAT/GdHE/jMwMDAiC4IFQIpggjABuEq4CqhR/wEbSQcEChQUOwAAAABJRU5ErkJggg==
    ) repeat;
}
*/
@media screen and (max-width: 890px) { 

  .container {
    
  }
}
</style>
